{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="custom-change-password-container">
        <h1>{% trans "Change Your Password" %}</h1>
        <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="form-group">
                {% for field in form %}
                    <div class="field-wrapper mt-4">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="error-message">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <ul class="mt-2">
                    <li>{% trans "-> Your password can’t be too similar to your other personal information" %}</li>
                    <li>{% trans "-> Your password must contain at least 8 characters" %}</li>
                    <li>{% trans "-> Your password can’t be a commonly used password" %}</li>
                    <li>{% trans "-> Your password can’t be entirely numeric" %}</li>
                </ul>
            </div>

            <div class="form-actions mt-4">
                <button type="submit" class="btn btn-primary">
                    {% trans "Update Password" %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}

